@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');  /*from google fonts*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
#root, 
.app { /*root div styles*/
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500; /*default text color for entire page is gray-500 from tailwind config file*/
}